# EditorConfig helps maintain consistent coding styles across editors
# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# 4 space indentation for Python
[*.py]
indent_size = 4

# Tab indentation for makefiles
[Makefile]
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{bat,cmd,ps1}]
end_of_line = crlf

[{*.json,*.yml,*.yaml}]
indent_size = 2
